# Copie para ".env" e preencha com os dados do seu projeto Firebase
# (Console Firebase -> Configurações do projeto -> Seus apps -> SDK).
VITE_FB_API_KEY=
VITE_FB_AUTH_DOMAIN=seu-projeto.firebaseapp.com
VITE_FB_PROJECT_ID=seu-projeto
VITE_FB_STORAGE_BUCKET=seu-projeto.appspot.com
VITE_FB_SENDER_ID=
VITE_FB_APP_ID=
